.cta-primary
	background: $green
	border: 0 none
	border-radius: 1.5rem
	color: $white
	display: inline-flex
	font-size: 1.1em
	font-weight: bold
	line-height: 1
	padding: 1rem 2rem

.cta-secondary
	color: $orange
	display: inline-block
	margin-bottom: 2em